<h1 myColor="red">Directive</h1>

<span myColor="blue">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
  Velit sunt esse nisi fugit nihil dolor labore ratione
  ex! Velit vitae porro tempora suscipit voluptatem quos 
  id soluta eum, quaerat nobis?</span>

  <br>
  
  <div >
    <input id="name" type="text" required minlength="3" validate>
  <div style="font-size: 15px; color: red; display: none;">
    En Az 3 Karakter girmelisiniz
  </div>
</div>

  <div>
    <input id="password" type="text" required minlength="6" validate>
    <div style="font-size: 15px; color: red; display: none;">
      password must be 6 characters
    </div>
  </div>