<nav aria-label="breadcrumb" class="d-flex justify-content-between align-items-center mt-3">
  <h3>Home Page</h3>
  <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<div class="row mt-2">
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 mt-1">
      <ul class="list-group">
          <li class="list-group-item">
              <input type="search" class="form-control" placeholder="Search category...">
          </li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
      </ul>
  </div>

  <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12 mt-1">
      <div class="form-group">
          <input type="search" class="form-control" placeholder="Search product...">
      </div>

      <div class="form-group mt-1">
          <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mt-1">
                  <div class="card">
                      <div class="card-header position-relative">
                          <div>
                              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfFFXV4zCJybOFvocqAKKkko37SsPbl9F66Q&usqp=CAU"
                                  class="card-img-top" style="width: 100%; object-fit: cover;">
                          </div>
                          <span class="text-light" style="background-color: black; position: absolute; right: 10px; top: 10px; font-size: 10px;">
                              Stock: 15
                          </span>
                      </div>
                      <div class="card-body text-center">
                          <h5 class="card-title">Grundig Pc 2560 B1</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                          <h5 class="text-danger"><del>12.650,00 ₺</del></h5>
                          <h5 class="text-success">12.650,00 ₺</h5>
                      </div>
                      <div class="card-header">
                          <button class="btn btn-dark w-100 d-flex justify-content-between align-items-center">
                              <div class="d-flex" style="gap: 10px;">
                                  <button class="btn btn-sm btn-light">-</button>
                                  <input type="number" style="width: 30px; text-align: center;" value="5">
                                  <button class="btn btn-sm btn-light">+</button>
                              </div>
                              <i class="fa-solid fa-cart-plus"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
