.ibtn{
    padding: 2px;
    cursor: pointer;
}

.ibtn:hover{
    background-color: #ccc;    
    color: black;
    border-radius: 5px;
}

.quantity{
    width: 30px; 
    text-align: center; 
    height: 25px;
    user-select: none;
}